.file-page-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    gap: 1rem;
    align-items: flex-start;
}

.file-container {
    flex: 1;
    max-height: 75vh;
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: auto;
}

.file-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px 0 20px 0;
}

.file-header-button {
    display: flex;
    gap: 0.5rem;
}

.file-header-button button {
    background-color: #2563eb;
    color: white;
    border: none;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    ;
}

.file-header-button button:hover {
    background-color: #1d4ed8;
}

.file-header-button .clear-button {
    background-color: #eb2c25;
}

.file-header-button .clear-button:hover {
    background-color: #d81d1d;
}

.file-row-button {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.file-row-button button {
    background-color: chartreuse;
    border: none;
    height: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.file-row-button button:hover {
    background-color: #84dd2a;
}

.file-row-button .file-delete-button {
    background-color: #ff4a4a;
}

.file-row-button .file-delete-button:hover {
    background-color: #e24343;
}

.list-empty {
    color: #828894;
    font-style: italic;
}

.file-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.file-row {
    display: flex;
    gap: 1rem;
}

.filename {
    margin: 0;
    font-weight: 400;
    max-width: 180px;
}

.timestamp {
    margin: 0;
    color: #6b7280;
    font-size: 0.9rem;
}

.chunk-container {
    flex: 3;
    max-height: 75vh;
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: auto;
}

.chunk-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px 0 20px 0;
}

.chunk-header h4 {
    flex: 1;
    text-align: right;
}

.chunk-header-title {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chunk-header-title h3 {
    margin-bottom: 0;
}

.chunk-header-title p {
    margin-top: 0;
    color: #6b7280;
    font-style: italic;
}

.chunk-header-content-query {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 400px;
    position: relative;
    background: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    transition: all 0.2s ease;
    ;
}

.chunk-header-content-query:focus-within {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.chunk-header-content-query input {
    flex: 1;
    height: 2.5rem;
    padding: 0 0.75rem;
    border: none;
    background: transparent;
    outline: none;
    font-size: 0.875rem;
    color: #374151;
}

.chunk-header-content-query input::placeholder {
    color: #9ca3af;
}

.chunk-header-content-query button {
    height: 2.25rem;
    padding: 0 1.25rem;
    margin-right: 0.125rem;
    border: none;
    border-radius: 0.375rem;
    background: #3b82f6;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.chunk-header-content-query button:disabled {
    background-color: #9ca3af;
}

.chunk-header-content-query button:hover:not(:disabled) {
    background-color: #2563eb;
}

.chunk-header-content h4 {
    margin: 0;
    font-size: 0.875rem;
    color: #6b7280;
    font-weight: 500;
}

.chunk-row-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.chunk-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #6b7280;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem 1rem 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.chunk-row:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chunk-content {
    display: flex;
    align-items: center;
}

.chunk-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chunk-info h4 {
    margin: 0;
}

.chunk-info span {
    margin: 0;
    font-style: italic;
}

.chunk-score {
    background-color: #ffe921;
    border-radius: 0.5rem;
    height: 5rem;
    width: 5rem;
}

.chunk-score h5 {
    font-style: italic;
    font-size: 1.1rem;
    margin: 0.2rem 0 0.7rem 0.3rem;
}

.chunk-score p {
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
}