.graph-manager-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    gap: 1rem;
    align-items: flex-start;
}

.agents-container-main {
    flex: 1;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.panel-container {
    flex: 1;
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: transform 0.2s;
    border: 2px solid #555;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.panel-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.panel-info-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.panel-info-row h4 {
    margin: 0;
}

.agents-container {
    flex: 1;
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: transform 0.2s;
    overflow: auto;
}

.agents-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.agents-container-header-button {
    display: flex;
    gap: 0.5rem;
}

.agents-container-header-button button {
    background-color: #2563eb;
    color: white;
    border: none;
    height: 2rem;
    min-width: 3rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.agents-container-header-button button:hover {
    background-color: #1d4ed8;
}

.agents-container-header-button .graph-button-red {
    background-color: #eb2c25;
}

.agents-container-header-button .graph-button-red:hover {
    background-color: #d81d1d;
}

.agents-container-header-button .graph-button-green {
    background-color: #13b81b;
}

.agents-container-header-button .graph-button-green:hover {
    background-color: #0f9116;
}

.agents-container-header-button .graph-button-red:disabled,
.agents-container-header-button .graph-button-green:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
}

.add-agent-button {
    font-size: 1rem;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 1rem;
    transition: all 0.2s ease;
}

.add-agent-button:hover {
    background-color: rgb(220, 220, 220);
    transform: translateY(-1.5px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.agent-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.agent-row {
    display: flex;
    gap: 1rem;
}

.agent-row svg {
    flex-shrink: 0;
}

.selected-agent-row {
    outline: 3px solid #555;
    outline-offset: 3px;
    border-radius: 0.5rem;
}

.selected-edge-agent-row {
    outline: 3px double #555;
    outline-offset: 3px;
    border-radius: 0.5rem;
}

.agent-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.agent-info-main {
    display: flex;
    gap: 0.5rem;
}

.agent-card {
    padding: 0.05rem 0.5rem;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agent-card.entry {
    background-color: #13b81b;
}

.agent-name {
    font-size: 1.1rem;
    font-weight: 450;
}

.agent-info-detail {
    display: flex;
    gap: 0.5rem
}

.agent-card.responder {
    background-color: royalblue;
}

.agent-card.prompt {
    background-color: teal;
}

.agent-card.classifier {
    background-color: blueviolet;
}

.agent-card.gatekeeper {
    background-color: darkolivegreen;
}

.agent-card.scorer {
    background-color: firebrick;
}

.agent-card.output {
    background-color: coral;
}

.graph-container {
    flex: 2;
    height: 75vh;
    background: white;
    padding: 2.5vh;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.graph-edge {
    fill: none;
    stroke: #555;
    stroke-width: 2;
    marker-end: url(#arrow);
    pointer-events: none;
    transition: all 0.2s ease;
}

.graph-edge-hit {
    fill: none;
    stroke: transparent;
    stroke-width: 16;
    cursor: pointer;
    pointer-events: stroke;
}

.graph-edge-hit:hover+.graph-edge {
    stroke: #2563eb;
    stroke-width: 3;
}

.selected-edge {
    stroke: #2563eb;
}

.graph-node-circle {
    cursor: pointer;
}

.graph-node-circle {
    cursor: pointer;
}

.graph-node-circle:hover circle {
    stroke: #555;
    stroke-width: 2;
    filter: drop-shadow(0 0 3px rgba(85, 85, 85, 0.6));
    transition: all 0.2s ease;
}

.selected-graph-node circle {
    stroke: #555;
    stroke-width: 2;
}

.graph-node-text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 1rem;
    font-weight: 500;
    fill: white;
    cursor: pointer;
}