.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    display: inline-flex;
    box-sizing: border-box;
    padding: 0.6rem 0.75rem;
    width: 250px;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    background: white;
}

.input-container input {
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 0.875rem;
    min-width: 100%;
    padding: 0;
}

.select-trigger {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0.75rem;
    width: 250px;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    background: white;
    font-size: 0.875rem;
    cursor: pointer;
}

.select-trigger[data-state="open"] {
    border-radius: 0.5rem 0.5rem 0 0;
}

.select-icon {
    color: #6b7280;
    display: flex;
    align-items: center;
}

.select-trigger[data-state="open"] .select-icon {
    transform: rotate(-90deg);
    transition: all 0.1s;
}

.select-content {
    position: relative;
    z-index: 50;
    background: white;
    border-radius: 0.5rem;
    width: var(--radix-select-trigger-width);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.select-viewport {
    max-height: 200px;
    overflow-y: scroll;
}

.select-item {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}

.select-item:hover,
.select-item[data-highlighted] {
    background: #f3f4f6;
}

.select-item[data-state="checked"] {
    background: #e5e7eb;
    font-weight: 600;
}

.textarea-container {
    display: inline-flex;
    box-sizing: border-box;
    padding: 0.6rem 0.75rem;
    width: 250px;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    background: white;
}

.textarea-container textarea {
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 0.875rem;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    resize: vertical;
}