.prompt-manager-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    gap: 1rem;
    align-items: flex-start;
}

.prompt-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.new-prompt-button {
    background-color: #2563eb;
    color: white;
    border: none;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.new-prompt-button:hover {
    background-color: #1d4ed8;
}

.prompt-container {
    flex: 1;
    max-height: 80vh;
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.prompt-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.prompt-row {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px dotted #555;
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
}

.prompt-row:hover {
    cursor: pointer;
    transform: translateY(-0.2rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.prompt-row.selected {
    border: 2px solid #555;
}

.prompt-info-main {
    display: inline-flex;
    gap: 0.5rem;
}

.prompt-info-main span {
    font-size: 1.1rem;
    font-weight: 475;
}

.prompt-template-card {
    padding: 0.05rem 0.5rem;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prompt-template-card.guided {
    background-color: royalblue;
}

.prompt-template-card.structured {
    background-color: darkolivegreen;
}

.prompt-template-card.raw {
    background-color: firebrick;
}

.prompt-workspace-container {
    flex: 2;
    max-height: 80vh;
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.workspace-body-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.use-context-toggle-container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.use-context-toggle-container span {
    font-size: 1.1rem;
    font-weight: 400;
}

.use-context-toggle {
    --toggle-width: 50px;
    --ball-size: 17.5px;
    --padding: 3px;

    height: 25px;
    width: var(--toggle-width);
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 100px;
    cursor: pointer;
}

.use-context-toggle.right {
    background-color: #2563eb;
}

.use-context-toggle-ball {
    position: absolute;
    height: var(--ball-size);
    width: var(--ball-size);
    left: var(--padding);
    border-radius: 100px;
    background-color: white;
    transition: transform 120ms ease;
}

.use-context-toggle.right .use-context-toggle-ball {
    transform: translateX(calc(var(--toggle-width) - var(--ball-size) - var(--padding)*2));
}

.input-variable-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.input-variable-description {
    margin: 0;
    font-size: 0.9rem;
    font-style: italic;
    color: rgb(68, 62, 62);
}

.prompt-workspace-footer {
    display: flex;
    margin: 1rem;
    justify-content: flex-end;
    gap: 1rem
}

.prompt-workspace-footer button {
    height: 2rem;
    min-width: 3rem;
    color: white;
    background-color: #2563eb;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.prompt-workspace-footer button:hover {
    background-color: #1d4ed8;
}

.prompt-workspace-footer button:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
}

.prompt-workspace-footer .prompt-delete-button {
    background-color: #eb2c25;
}

.prompt-workspace-footer .prompt-delete-button:hover {
    background-color: #d81d1d;
}

.prompt-preview-container {
    flex: 2;
    max-height: 80vh;
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: transform 0.2s;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

.prompt-preview {
    padding-left: 2rem;
    font-family: monospace;
    font-size: 1.1rem;
}