.result-visual-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    gap: 1rem;
    align-items: flex-start;
}

.result-visual-container.empty {
    justify-content: center;
}

.result-visual-container.wait {
    margin-top: 25vh;
    justify-content: center;
}

.trace-container {
    flex: 1;
    max-height: 75vh;
    background: white;
    padding: 2.5vh;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.trace-body {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.trace-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 3px;
    border: 1px solid #555;
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
}

.trace-row svg {
    flex-shrink: 0;
}

.trace-row:hover {
    cursor: pointer;
    transform: translateY(-0.2rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trace-row.selected {
    border: 2px solid #555;
}

.trace-row-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trace-row-agent-name {
    font-size: 1.1rem;
    font-weight: 400;
}

.trace-row-agent-output {
    font-size: 0.95rem;
    color: #828894;
    font-style: italic;
}

.result-graph-container {
    flex: 3;
    height: 75vh;
    background: white;
    padding: 2.5vh;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.trace-detail-container {
    flex: 2;
    max-height: 75vh;
    background: white;
    padding: 2.5vh;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: auto;
}

.trace-detail-body {
    margin-top: 1.5rem;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trace-detail-item {
    gap: 0.5rem;
    font-size: 1.1rem;
}

.trace-detail-item h4 {
    margin: 0;
}

.view-full-content {
    cursor: pointer;
    border-bottom: 1.5px solid black;
    font-style: italic;
}

.trace-detail-item.inline {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.trace-detail-item.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: pre-line;
}

.rag-detail-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.rag-detail-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: monospace;
}

.chunk-divider {
    border-bottom: 1.5px dashed black;
    height: 0;
    width: 100%;
}